header{
  background-image: url('src/img/aiw_galeria_drstrange_1920x1080_2e331d37 2.png/.img');
  width: 2000px;
  height: 200px;
}

h1{
  display: flex;
  justify-content:space-around;
  margin: 20px;
  color: seashell;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 20px;
    padding: 20px;
    color:seashell;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li{
  align-items: center;
}

footer{
  background-color: mediumvioletred;
  height: 120px;
}

body {
  background-color:rgb(44, 13, 66);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
