header{
    position: relative;
    margin: 20px;
    z-index: 1;
}

header::before{
    content: "";
    background-image: url(/img/fondo.png);
    opacity: .6;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 96vw;
    position: absolute;
    z-index: -1;
}

h1{
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  color: seashell;
  font-size: 80px;
  font-family: "Sedan SC", serif;
}

select{
  color:#bc05db;
  padding: 15px;
  margin-left: 35px;
  border-radius: 10px;
  font-size: 26px;
  background-color:aliceblue;
  border-color: hotpink;
  box-shadow: 0 0 20px #E91E63;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
  display: inline-block;
  flex-flow: row;
  
}

#root{
  padding-top: 700px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 40px;
    color:seashell;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li{
  border-style: solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px;
  border-radius: 30px;
  border-color: hotpink;
  box-shadow: 0 0 20px #E91E63;
}

#detail-view{
  grid-template-columns: 12fr;
}

button{
  color: #bc05db;
  border-color: blueviolet;
  font-size:large;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

li:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(17, 0, 0, 0.2);
}

footer{
  background-color: rgb(15, 2, 10);
  height: 120px;
  padding: 10px;
  color:dimgrey;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color:rgb(44, 13, 66);
}

/* Modal.module.css */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  
  
}

.modal-content {
  color: white;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

p {
  color: seashell;
}

#detail-view {
  display: grid;
  justify-items: center;
  align-content: stretch;
  padding: 50px;
}

@media (max-width: 628px) and (min-width: 481px) {
  body{
    flex: 50%;
  }
  header, header:before {
    flex: 50%;
  }
}

